.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
}
.pagination{
display: flex;
justify-content: center;
}
button{
  width: 100px;
  height: 30px;
  background: #2d7e9e;
  margin: 10px;
  border: none;
  color: white;
}